.Select-control {
    overflow-y:auto;   
}

.Select {
    color:black;
    font-size:15px;
    border-radius:1px;
}

.Select-control {
    border-radius:1px;
    border-color:white;
}

.Select-placeholder {
    padding-top:3px;
    display:flex;
    align-items:center;
}

.DateRangePickerInput {
    background-color:black;
}

.DateInput_input.DateInput_input_1 {
    background-color:black;
    color:#007efe;
}

.DateRangePickerInput_arrow_svg {
    fill:#007efe;
}

.DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2 {
    border-radius:1px;
    border-color:white;
}





