.Select-control {
    overflow-y:auto;   
}

.Select {
    color:black;
    font-size:15px;
}

.Select-control {
    border: none;
    width:500px;
    height:75px;
    display: flex;
    background-color: black !important;
    text-align:center;
}

.Select-placeholder {
    padding-top:3px;
    display:flex;
    align-items:center;
}

.DateRangePickerInput {
    background-color:black;
}

.DateInput_input.DateInput_input_1 {
    background-color:black;
    color:#007efe;
}

.DateRangePickerInput_arrow_svg {
    fill:#007efe;
}

.DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2 {
    border-radius:1px;
    border-color:white;
}

.header-med {
    text-align:center;
}

.dbc-button {
    margin-left:10px;
    height:48px;
    width:200px;
}

.DateRangePickerInput {
    border: none;
}

.invalid-card {
    color: red;
    box-shadow: 0px 0px 0px 1px #ff0000;
    animation: animate 2s ease-out infinite;
}

.upper-card-container {
    display:flex;
}

.title-date {
    display:flex;
    flex-direction:column
}

.error-text {
    margin-left:20px;
    flex-wrap:wrap;

}

@keyframes animate {
  0% {
      box-shadow: 0px 0px 0px 1px #ff0000
  }

  50% {
      box-shadow: 0px 0px 0px 3px #ff0000
  }

  100% {
      box-shadow: 0px 0px 0px 1px #ff0000
 }

}


